@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

.navbar{
    background-color: #333333;
}

.navbar-brand{
    color: #fff;
    font-size: 1.5rem;
}

.navbar-brand:hover{
    color: #088178;
}

.nav-link{
    font-size: 0.8rem;
    color: #fff;
}
/* NAVBAR */

.nav-item{
    display: flex;
    justify-content: center;
}

.nav-item a:hover {    
    color: #088178;
}

.headerNav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.headerNav li a{
    text-decoration: none;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.headerNav li a:hover {    
    color: #088178;
}

ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}


/* MAIN */

.videoContainer{
    padding: 100px;
    display: flex;
    justify-content: center;
}

/* FOOTER */

.footerContainer{
    display: flex;
    align-items: center;
    background-color: #333333;
    flex-direction: column;
    
}

.containerTextRrhh{
    display: flex;
    margin-top: 3rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 85%;
}

.brandText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3rem;
}

.brandText a{
    color: black;
}

.brandText h2 span{
    color: #088178;
}

.p-footer{
    color:#fff;
}

.redes{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    align-items: center;
    width: 100%;

}

.redes h3{
    display: flex;
    justify-content: flex-end;

}

.redes a:hover{
    transform: translateY(-10px);
    transition: all 0.25s;
    color: #088178;
}

.copyright{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.copyright h5{
    font-size: 0.8rem;
    color: #fff;
}


/* MEDIA QUERY */

/* MOBILE */
@media screen and (max-width: 600px) { 

    .navbar-brand{
        margin-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
    }
    .dropdown-menu{
        font-size: 12px;
        margin-left: 10px;
    }

    .redes{
        flex-direction: column;
    }
} 


/* TABLET */
@media screen and (min-width: 600px) { 

    .navbar-nav{
        width: 100%;
        justify-content: flex-end;
    }

    .navbar-brand{
        margin-left: 20px;
    }

    .navbar-toggler{
        margin-right: 20px;
    }

    .redes{
        flex-direction: column;
    }

} 


/* DESKTOP */
@media screen and (min-width: 1024px) { 

    /* NAVBAR */
    .navbar-brand{
        margin-left: 20px;
        justify-content: flex-end;
        justify-content: flex-end;
    }

    .nav-item{
        margin: 0 20px;
        display: flex;
        justify-content: center;
    }

    .nav-item a:hover {    
        color: #088178;
    }
    

    .navbar-nav{
        width: 100%;
        justify-content: flex-end;
    }


    .dropdown-menu{
        margin-top: 3rem;
    }
    /* END NAVBAR */

    .redes{
        flex-direction: row;
    }

}