@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ----------------------------------------------------- NAVBAR ---------------------------------------------------- */

.navBG{
        align-items: center;
        padding: 20px 80px;
        background: #E3E6F3;
        box-shadow: 0px 45px rgba(0, 0, 0, 0.06);
}

.headerNav{
    display: flex;
    width: 100%;
    align-items: center;

}

.headerNav li a{
    text-decoration: none;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.brand a{
    color: black;
}

.brand span{
    color: #088178;
}

nav ul li {
    display: inline-block;
} 

.headerNav li a:hover {    
    color: #088178;
}

.ulNav{
    justify-content: space-around;
    margin-bottom: 0rem;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 30px;
    cursor: pointer;
    display: none;  
}

#check{
    display: none;
}


/*------------------------ Search ----------------------------*/

.searchContainer{
    display: flex;
    border: 0.5px solid lightgray;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    
}

.searchContainer:hover{
    cursor: text;
    transform: translateY(-5px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.25s;
}

.SearchIcon{
    color: gray;
}

.input{
    border: none;
    background-color: #E3E6F3;
    width: 100%;
    text-align: center;
    opacity: 0.6;
    outline: none;
}


/* SELECT -----------------------------------------------*/

.selectContainer{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.select{
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 230px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}



/* -------------------------------------- MAIN, PARTE PRINCIPAL, CARDS --------------------------------------------- */

.container-fluid{
    display: flex;
    justify-content: space-around;
}

.textFluid{
    flex-direction: column;
}

.buttonFluid{
    display: flex;
}

.buttonFluid button{
    margin: 2rem;
}

#button1{
    background-color: #088178;
}

#button2{
    background-color: gray;
}

#carouselExampleFade{
    width: 35vw;
    margin-top: 50px;
}

.carousel-inner{
    border-radius: 80px;
}

.textFluid{
    display:flex;
    text-align: center;
    align-items: center;
}

.containerMain{
    display: flex;
    justify-content: center;
}

.contenedor-productos{
    display: grid;
    height: 100 vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "producto producto producto producto";
    padding: 30px 10px;

}

.producto{
    width: 330px;
    height: 455px;
    border-radius: 15px;
    box-shadow: 0 5px 5px #088178;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.producto:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.producto{
    display: flex;
}

.card-title{
    display: flex;
    justify-content: space-around;
    margin: 15px;
    font-weight: bold;
}

.card-image img{
    width: 100%;
}

.btn{
    display: flex;
    justify-content: center;
    border: white;
}


.btn a span{
    background-color: #088178;
    border-radius: 20px;
    color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/* FOOTER */

.footerContainer{
    display: flex;
    align-items: center;
    background-color: #E3E6F3;
    flex-direction: column;
    
}

.containerTextRrhh{
    display: flex;
    margin-top: 3rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 85%;
}

.brandText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 3rem;
}

.brandText a{
    color: black;
}

.brandText h2 span{
    color: #088178;
}

.redes{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    align-items: center;
    width: 100%;

}

.redes h3{
    display: flex;
    justify-content: flex-end;

}

.redes a:hover{
    transform: translateY(-10px);
    transition: all 0.25s;
    color: #088178;
}

.copyright{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.copyright h5{
    font-size: 1rem;
}




/*================================== MEDIA QUERY ============================*/



/*--------------------------- MOBILE ----------------------------*/

@media screen and (max-width: 600px) { 

    .headerNav{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .headerNav li a:hover {    
        color: white;
    }

    .ulNav{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #088178;
        top: 80px;
        left: 0;
        text-align: center;
        left: -100%;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size:20px;
    }

    .searchContainer{
        width: 50%;
    }

    .checkbtn{
        display: block;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .container-fluid{
        flex-direction: column;
    }
    .textFluid{
        width: 100%;
        margin-top: 3rem;
    }
    #carouselExampleFade{
        width: 100%;
    }

    .contenedor-productos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 8fr);
        grid-template-areas: "producto ";
        }
    
    .producto{
            width: 22rem;
            height: 30rem;
            border-radius: 15px;
            box-shadow: 0 5px 5px #088178;
            overflow: hidden;
            margin: 50px;
            text-align: center;
            transition: all 0.25s;
    }

    .card{
        width: 100%;
    }

    .carousel-item .active img{
        width: 100%;
    }

    .card-image img{
        width: 100%;
    }

    .imgEth{
        height: 1.5rem;
    }

    .redes{
        flex-direction: column;
    }
} 




/*------------------------- TABLET -------------------------------*/

@media screen and (min-width: 620px) { 

    .navBG{
        padding: 0.5rem 2rem;
    }

    .headerNav{
    justify-content: space-around;
    }

    .searchContainer{
        margin-left: 1rem;
    }
    
    .containerMain{
        overflow: hidden;
    }

    .contenedor-productos{
        display: grid;
        height: 100 vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "producto producto"
                            "producto producto"
                            "producto producto"
                            "producto producto";
        }
    .producto{
            width: 16rem;
            height: 24rem;
            border-radius: 15px;
            box-shadow: 0 5px 5px #088178;
            overflow: hidden;
            margin: 50px;
            text-align: center;
            transition: all 0.25s;
    }

    .card-title {
        font-size: 0.8rem;
    }

    .container-fluid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #carouselExampleFade{
        width: 100%;
        margin-top: 50px;
    }
    .carousel-item{
        width: 100%;
    }
    .carousel-item img{
        width: 100%;
    }
    .textFluid{
        margin-top: 3rem;
    }
    .card-image img{
        width: 100%;
    }

    .imgEth{
        height: 1.5rem;
    }

    .redes{
        flex-direction: column;
    }
} 



/*-------------------------------- DESKTOP-------------------------- */
@media screen and (min-width: 1024px) { 

    .headerNav{
        justify-content: space-between;
    }

    .searchContainer{
        margin-left: 25px;
    }

    .ulNav{
        display: flex;
        width: 50%;
    }

    .contenedor-productos{
        display: grid;
        height: 70 vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "producto producto"
                            "producto producto";
    }
    
    .imgEth{
        height: 1.5rem;
    }

    .container-fluid{
        flex-direction: row;
    }

    #carouselExampleFade{
        width: 35%;
        margin-top: 50px;
        margin-left: 5rem;
        margin-right: 2rem;
    }

    .redes{
        flex-direction: row;
    }
}



