// TITLE
.title-container{
    display: flex;
    justify-content: center;
}
.title-h1{
    font-weight: 600px;
    font-size: 40px;
    color: black;
}

// END TITLE




// CARDS
.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: "product product product"
                        "product product product"
                        "product product product";
}
.product{
    padding: 5rem 2rem;
}

.card{
    width: 25.5rem;
}

.card-link{
    background-color: #333;
}

.card-img{
    height: 12.5rem;

    img{
        width: 100%;
        height: 100%;
    }
}
//  END CARDS



// VIDEO

.video-section{

    @include respond(phone){
        margin: 2rem;
    }
}

.video-container{
    
    @include respond(tab-land){
        padding: 3rem;
    }

    @include respond(phone){
        padding: 2rem;
    }

    iframe{
        width: 100%;

        @include respond(tab-land){
            height: 400px;
        }
        @include respond(phone){
            height: 250px;
        }
        @include respond(desktop){
            height: 550px;
        }
    }
}

// END VIDEO
