@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}


/* ------------------------- SELECT ----------------------------- */

.selectContainer{
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.select{
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 230px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}




// --------------------- CAROUSEL and TEXT --------------------

// ----------- TEXT and BUTTON ---------------

.container-fluid{
    display: flex;
    justify-content: space-around;

    @include respond(phone) {
        flex-direction: column;
    }
    @include respond(tab-port) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    @include respond(desktop) {
        flex-direction: row;
    }
}

.textFluid{
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
        width: 100%;
        margin-top: 3rem;
    }
    @include respond(tab-port) {
        margin-top: 3rem;
    }
}

.buttonFluid{
    display: flex;

    button{
        margin: 2rem;
    }
}

#button1{
    background-color: #088178;
    padding: 0.5rem;
}

#button2{
    background-color: gray;
    padding: 0.5rem;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    border: white;
    padding: 0;

    @include respond(desktop){
        margin-bottom: 1rem;
    }

    a span{
        background-color: #088178;
        border-radius: 20px;
        color: white;
        font-size: 20px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.btn-floating{
    text-decoration: none;
}



// ----------------- CAROUSEL --------------------

#carouselExampleFade{
    width: 35vw;
    margin-top: 50px;

    @include respond(phone) {
        width: 100%;
    }
    @include respond(tab-port) {
        width: 100%;
        max-width: 30rem;
        margin-top: 50px;
    }
    @include respond(desktop) {
        width: 35%;
        margin-top: 50px;
        margin-left: 5rem;
        margin-right: 2rem;
    }
}

.carousel-item{
    width: 100%;

    img{
        width: 100%;
        height: 100%;
    }
}

.carousel-inner{
    border-radius: 80px;
}


// ------------- END CAROUSEL --------------


// ---------- SEARCH -----------

.searchContainer{
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    border: 1.5px solid lightgray;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    border-radius: 5px;

    :hover{
        cursor: text;
        transform: translateY(-2px);
        box-shadow: 0 6px 6px #088178;
        transition: all 0.25s;
    }

    .SearchIcon{
        color: gray;
        margin-left: 5px;
        transform: translateY(0px);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
        cursor: pointer;
    }
    
    .input{
        border: none;
        background-color: #E3E6F3;
        width: 100%;
        text-align: center;
        opacity: 0.6;
        outline: none;
        border-radius: 5px;
    }

    @include respond(tab-land){
        max-width: 35rem;
    }

    @include respond(tab-port){
        max-width: 30rem;
    }

    @include respond(desktop){
        max-width: 50rem;
    }

    @include respond(phone){
        max-width: 25rem;
    }
}


// ---------- END SEARCH ----------



/* ===================== MAIN =================== */



// -------- ASIDE ----------

.aside{
    grid-area: aside;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-filter{
        
        li{
            list-style-type: none;

            a{
                color: black;
            }
        }
    }

    .price-filter{
        li{
            list-style-type: none;
            a{
                color: black;
            }
        }
    }
}

// -------- END ASIDE ----------




// ---------------- PRODUCTS -----------------

.containerMain{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    flex-direction: column;
    align-items: center;
}

.contenedor-productos{


    @include respond(tab-land) {
        display: grid;
        height: 100 vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
                            "aside producto producto"
                            "aside producto producto"
                            "aside producto producto"
                            "aside producto producto";
        .aside{
            grid-area: aside;
        }
    }
    @include respond(phone) {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(8, 1fr);
        grid-template-areas: "aside"
                            "producto"
                            "producto"
                            "producto"
                            "producto"
                            "producto"
                            "producto"
                            "producto"
                            "producto";
        .aside{
            grid-area: aside;
        }
    }

    @include respond(desktop) {
        display: grid;
        height: 70 vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "aside producto producto producto"
        "aside producto producto producto"
        "aside producto producto producto"
    }
}

.producto{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 5px 5px #088178;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    display: flex;

    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }


    @include respond(tab-land) {
        width: 16rem;
        height: 23rem;
        border-radius: 15px;
        box-shadow: 0 5px 5px #088178;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    }

    @include respond(tab-port){
        width: 12rem;
        height: 18rem;
    }

    @include respond(desktop) {
        margin: 10px;
    }

    @include respond(phone) {
        width: 22rem;
        height: 30rem;
        border-radius: 15px;
        box-shadow: 0 5px 5px #088178;
        overflow: hidden;
        margin: 50px;
        text-align: center;
        transition: all 0.25s;
    }
}

// --------------------- END PRODUCTS ----------------------

// --------------------- CARD ------------------------

.card-title{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-weight: bold;

    @include respond(tab-port) {
        font-size: 0.7rem;
    }

    p{
        font-size: 0.8rem;
    }
}

.card-image img{
    width: 100%;
}

.imgEth{
    
    @include respond(desktop) {
        height: 1.3rem;
    }
    @include respond(tab-land) {
        height: 1rem;
    }
    @include respond(tab-port) {
        height: 0.8rem;
    }

}

/*================================== MEDIA QUERY ============================*/
/*--------------------------- MOBILE ----------------------------*/

@media screen and (max-width: 600px) { 

    .card{
        width: 100%;
    }

    .carousel-item .active img{
        width: 100%;
    }

    .card-image img{
        width: 100%;
    }

    .brandText a{
        text-decoration: none;
    }

} 


/*------------------------- TABLET -------------------------------*/

@media screen and (min-width: 620px) { 
    .containerMain{
        overflow: hidden;
    }

    .card-image img{
        width: 100%;
    }


} 




