
/* ========== NAVBAR ========== */

    .navbar{
        background-color: #333333;
        padding: 0.5rem 1rem;

        a:hover{    
            color: #088178;
        }
    }   

    .navbar-brand{
        color: #fff;
        font-size: 1.5rem;
        justify-content: flex-end;
    }

    .nav-item{
        margin: 0 20px;
        display: flex;
        justify-content: center;

        a:hover {    
            color: #088178;
        }
    }
    #navbarDropdown{
        color: #fff;
    }
    
    .navbar-nav{
        width: 100%;
        justify-content: flex-end;
    }

    .nav-link{
        font-size: 0.8rem;
        color: #fff;

        &:hover{
            color: #088178;

        }
    }

    .dropdown-menu{
        top: 0% !important;

        @include respond(desktop) {
            margin-top: 3rem;
        }
        @include respond(tab-land){
            margin-top: 3rem;
        }
    }

/* ========== END NAVBAR ========== */

