:root{
    --primary-color-brand: black;
    --secondary-color-brand: #088178;
    --primary-color-bg: #E3E6F3;
    --secondary-color-bg: rgba(0, 0, 0, 0.06);
    --color-searchIcon: gray;
    --color-border: lightgray;
    --color-line: white;
}