// COLORS
$primary-color: #088178;
$secondary-color: #00cdac;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1rem; // P and button (a link) about and project
$big-font-size: 3rem;   //  Desktop ---> font-size, title, h2 (about, project, contact)  
$mid-font-size: 1.5rem; // h3 (title projects)